<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Welcome, {{personfirst}} {{personlast}}</h1>
<p>You can view posts here.</p>
{% for item in allposts %}
    <label>Post Id:</label>
    {{item.id}}
    <br>
    <label>Post owner:</label>
    {{item.posterid}}
    <br>
    <label>Post Title:</label>
    {{item.title}}
    <br>
    <label>Post description:</label>
    {{item.description}}
    <br>
    <a href="../viewPost?post_id={{item.id}}">View post</a>
    <hr>
{% endfor %}



</body>
</html>