<!DOCTYPE html>
<html>

<head>
    <title>Welcome to the homepage!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="wrapper">
        <nav style="margin-bottom: 0px; background-color:lavender; !important" class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="./mainPage">🏠</a>
        </nav>
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Welcome, {{personfirst}} {{personlast}}.</h1>
            <p>
                This is your home page. You can see your communities here.
            </p>
        </div>


        <div class="container">
            <div class="col-sm">
                <button id="createCommunity" class="btn btn-primary">Press to create a new community.</button>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="col-sm">
                <button id="getUserCommunities" class="btn btn-primary">Press to see all your communities.</button>
            </div>
            <br>

            <div class="col-news">
                <button id="getNewsPage" class="btn btn-primary">See News Page</button>
            </div>
            <br>

            <!--  @yunus-topal if something goes wrong, delete this form to get rid of logout feature.-->
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="logout" value="out">Log out</button>
                <br>
            </form>
            <br>

            <div class="btn-group" role="group" id="communities_section">
                <section id="communities_section">
                </section>
            </div>
        </div>

        <br>

        <div class="container">
            <div id="results_section">
            </div>
        </div>

    </div>

    <script>
        const section = document.getElementById("results_section");
        const section_communities = document.getElementById("communities_section");
        let communities;
        document.getElementById("getUserCommunities").addEventListener("click", getUserCommunities);
        document.getElementById("createCommunity").addEventListener("click", createCommunity);
        document.getElementById("getNewsPage").addEventListener("click", getNewsPage);

        function goToCommunity(e) {
            console.log(communities);
            console.log(e.target);
            console.log(e.target.id);
            e.preventDefault();
            const baseURL = '/mainapp/viewCommunity_ui/';
            //const baseURL = '/community/createCommunity_ui';
            let url = baseURL + "?id=" + e.target.id;
            console.log(url);
            window.location.href = url;
        }

        function getUserCommunities(e) {
            e.preventDefault();
            const baseURL = '/mainapp/getAllCommunitiesOfUser/';
            //const baseURL = '/community/getAll';
            let url = baseURL;
            fetch(url).then(function (result) {
                return result.json();
            }).then(function (json) {
                displayCommunities(json);
            });
        }

        function getNewsPage(e) {
            e.preventDefault();
            const baseURL = '/mainapp/newsPage/';
            let url = baseURL;
            console.log(url);
            window.location.href = url;
        }



        function createCommunity(e) {
            e.preventDefault();
            const baseURL = '/mainapp/createCommunity_ui/';
            //const baseURL = '/community/createCommunity_ui';
            let url = baseURL;
            console.log(url);
            window.location.href = url;
        }

        function displayCommunities(json) {
            console.log(json);
            displayResults(json);
            communities = json;
            while (section_communities.firstChild) {
                section_communities.removeChild(section_communities.firstChild);
            }
            var i = 1;
            while (true) {
                const community = json[i];
                console.log(community);
                i++;
                if (community == undefined)
                    break;

                const button = document.createElement('button');
                button.className = "btn btn-secondary";
                button.textContent = community["name"];
                button.id = community["id"];
                section_communities.appendChild(button);
                button.addEventListener("click", goToCommunity);
            }
        }

        function displayResults(json) {
            while (section.firstChild) {
                section.removeChild(section.firstChild);
            }
            const para = document.createElement('pre');
            para.textContent = JSON.stringify(json, undefined, '\t')
            section.appendChild(para);
        }

    </script>

</body>

</html>