<html>

<head>
    <title>Welcome to the login page!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class=wrapper>
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Welcome.</h1>
            <p>
                Please enter your credentials below.
            </p>
        </div>

        <div class="container">
            <div class="col-sm">
                <label>Firstname:</label>
                <input id="firstname" name="firstname"></input>
                <br>
                <label>Lastname:</label>
                <input id="lastname" name="lastname"></input>
                <br>
                <button id="loginbutton" type="submit" name="login">Login</button>
            </div>
        </div>
        <br>

        <div class="container">
            <div id="results_section">
            </div>
        </div>
    </div>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        document.getElementById("loginbutton").addEventListener("click", login);
        const firstname = document.getElementById("firstname");
        const lastname = document.getElementById("lastname");

        function login(e) {
            e.preventDefault();
            const baseURL = '/mainapp/login/';
            let url = baseURL + "?firstname=" + firstname.value + "&lastname=" + lastname.value;
            // request options
            const headers = {
                'Accept': 'application/json',
                'Content-Type': 'application/json; charset=UTF-8',
                'X-CSRFToken': csrftoken
            }
            const options = {
                method: 'POST',
                headers,
                //TODO: Check credentials here, when implemented.
                // credentials: 'include',
                // body: JSON.stringify({
                //     email: 'test@example.com',
                //     password: 'password'
            }
            fetch(url, options).then(function (result) {
                return result.json();
            }).then(function (json) {
                displayResults(json);
            });
        }

        function displayResults(json) {
            while (section.firstChild) {
                section.removeChild(section.firstChild);
            }
            const para = document.createElement('pre');
            para.textContent = JSON.stringify(json, undefined, '\t')
            section.appendChild(para);
        }
    </script>

</body>

</html>