<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the communities page!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Welcome, {{personfirst}} {{personlast}}</h1>
<p>Lets create your post!</p>

<form method="POST" action="{% url 'mainapp:createPost' %}">
    {% csrf_token %}
<label>Title of your post:</label>
<input name="title" placeholder="your title goes here"></input>
<br>
<label>Description of your post</label>
<input name="description" placeholder="your description goes here"></input>
{% for temp in data_field_temps %}
    <br>
    <label>{{temp.name}}:</label>        
    {% if temp.type == "text" %}
        <input name="{{temp.id}}_textcontent" placeholder="enter text"></input>
    {% elif temp.type == "image" %} 
        <input name="{{temp.id}}_urlcontent" placeholder="enter image url"></input>
    {% elif temp.type == "video" %}
        <input name="{{temp.id}}_urlcontent" placeholder="enter video url"></input>
    {% endif %}
{% endfor %}
<br>
<button type="submit" name="post" value="create">Create Post</button>
<input type="hidden" name="post_template_id" value="{{template_id}}">
</form>
<script>
function getUserCommunities(e) {
            e.preventDefault();
            const baseURL = '/mainapp/getAllCommunitiesOfUser/';
            //const baseURL = '/community/getAll';
            let url = baseURL;
            fetch(url).then(function (result) {
                return result.json();
            }).then(function (json) {
                displayCommunities(json);
            });
        }

</script>


</body>
</html>