<!DOCTYPE html>
<html>

<head>
  <title>Welcome to the homepage!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <nav style="margin-bottom: 0px; background-color:lavender; !important" class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="../mainPage">🏠</a>
    </nav>
    <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
      <h1> Welcome, {{personfirst}} {{personlast}}.</h1>
      <p>
        Let us create a community.
      </p>
    </div>

    <div class="container">
      <label>Name of your community:</label>
      <input id="name" placeholder="Name of community"></input>
      <br>
      <label>Short description of the community:</label>
      <input id="desc" placeholder="Description of Community"></input>
      <br>
      <label>Image URL for community (You can use the image suggestion feature below!!):</label>
      <input id="img_url" placeholder="image url"></input>
      <br>
      <label>Whether this is a private community</label>
      <input type="checkbox" id="is_private" checked="checked"></input>
      <br>
      <button id="createCommunity" class="btn">Create Community</button>
    </div>

    <div class="container">
      <div class="col-sm">
        <button id="getSuggestions" class="btn">Get suggested images for a community.</button>
        <input type="text" id="input_field" class="search" placeholder="Name of community">
      </div>
    </div>

    <div class="container">
      <div class="results">
        <section id="results_section">
        </section>
      </div>
    </div>

  </div>

  <script>

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    const section = document.getElementById("results_section");
    const name = document.getElementById('name');
    const desc = document.getElementById('desc');
    const img_url = document.getElementById('img_url');
    const is_private = document.getElementById('is_private');
    const searchTerm = document.getElementById('input_field');

    document.getElementById("createCommunity").addEventListener("click", createCommunity);
    document.getElementById("getSuggestions").addEventListener("click", getSuggestions);

    function createCommunity(e) {
      e.preventDefault();
      const baseURL = '/mainapp/createCommunity/';
      let url = baseURL + "?name=" + name.value + "&desc=" + desc.value + "&isPrivate=" + is_private.checked + "&url=" + img_url.value;
      // request options
      const headers = {
        'Accept': 'application/json',
        'Content-Type': 'application/json; charset=UTF-8',
        'X-CSRFToken': csrftoken
      }
      const options = {
        method: 'POST',
        headers,
        //TODO: Check credentials here, when implemented.
        // credentials: 'include',
        // body: JSON.stringify({
        //     email: 'test@example.com',
        //     password: 'password'
      }
      fetch(url, options).then(function (result) {
        return result.json();
      }).then(function (json) {
        displayResults(json);
      });
    }

    function getSuggestions(e) {
      console.log("ASDAD")
      e.preventDefault();
      if (searchTerm.value == '') {
        window.alert("Please enter a search term!");
      }
      else {
        const baseURL = '/mainapp/getSuggestions?';
        let url;
        url = baseURL + 'name=' + searchTerm.value;
        fetch(url).then(function (result) {
          return result.json();
        }).then(function (json) {
          displayImages(json);
        });
      }
    }

    function displayResults(json) {
      while (section.firstChild) {
        section.removeChild(section.firstChild);
      }
      const para = document.createElement('pre');
      para.textContent = JSON.stringify(json, undefined, '\t')
      section.appendChild(para);

      const line = document.createElement('p');
      if (Object.keys(json).length === 0 && json.constructor === Object) {
        line.textContent = "Error creating community! Are you sure all fields are correct?";
      } else {
        line.textContent = "Community created successfully!";
      }
      section.appendChild(line);
    }

    function displayImages(json) {
      while (section.firstChild) {
        section.removeChild(section.firstChild);
      }
      const images = json.images
      if (images.length === 0) {
        const para = document.createElement('p');
        para.textContent = 'No results returned.'
        section.appendChild(para);
      } else {
        const para = document.createElement('p');
        para.textContent = 'Drag and drop from any of the results below!';
        section.appendChild(para);
        for (var i = 0; i < images.length; i++) {
          const img = document.createElement('img');
          let current = images[i];
          img.src = current;
          img.alt = searchTerm;
          img.className = "img-rounded"
          section.appendChild(img);
        }
      }
    }

  </script>
</body>

</html>