<!DOCTYPE html>
<html>

<head>
    <title>Create a post template!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav style="margin-bottom: 0px; background-color:lavender; !important" class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="../mainPage">🏠</a>
    </nav>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Create a post template.</h1>
        </div>
    <div class="container">
        <form id="postTemplateForm" name="postTemplateForm" action="{% url 'mainapp:createPostTemplate' %}"
            method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="template_name">Template name:</label>
                <input id="template_name" name="template_name" required>
                <br>
                <label for="description">Template description:</label>
                <input id="description" name="description" rows="3" required>
            </div>
            <div class="container" id="addedFields">
            </div>
            <input type="hidden" id="data_field_temps" name="data_field_temps">
        </form>
        <div class="form-group">
            <label for="AddFieldType">Field type</label>
            <select class="form-control" id="AddFieldType">
                <option>Text</option>
                <option>Image</option>
                <option>Video</option>
            </select>
            <button id="addField" class="btn">Add Field</button>
        </div>
        <button id="submitTemplate" class="btn">Submit Post Template</button>
        <div class="container">
            <div id="results_section">
            </div>
        </div>
    </div>
    </div>

    <script>
        var CSRF_TOKEN='{{csrf_token}}';
        const section=document.getElementById("results_section");
        document.getElementById("addField").addEventListener("click", addField);
        document.getElementById("submitTemplate").addEventListener("click", formValidation);
        function addField(e) {
            var obj = document.getElementById("AddFieldType");
            var container = document.getElementById("addedFields");
            var selection = obj.options[obj.selectedIndex].text;
            console.log("addField entered");
            if (selection == "Text") {
                var i = container.childElementCount + 1;
                div = document.createElement('form')
                div.appendChild(document.createTextNode(i + ".Text field: "));
                div.appendChild(document.createElement("br"));
                var nameInput = document.createElement("input");
                var typeInput = document.createElement("input");

                nameInput.type = "text";
                nameInput.name = "name";
                nameInput.required=true;
                typeInput.type = "hidden";
                typeInput.name = "type"
                typeInput.value = "text";

                div.appendChild(nameInput);
                div.appendChild(typeInput);
                div.appendChild(document.createElement("br"));
                container.appendChild(div);

            } else if (selection == "Image") {
                var i = container.childElementCount + 1;
                div = document.createElement('form');
                div.appendChild(document.createTextNode(i + ".Image field: "));
                div.appendChild(document.createElement("br"));
                var nameInput = document.createElement("input").required=true;
                var typeInput = document.createElement("input");

                nameInput.type = "text";
                nameInput.name = "name";
                nameInput.required=true;
                typeInput.type = "hidden";
                typeInput.name = "type"
                typeInput.value = "image";

                div.appendChild(nameInput);
                div.appendChild(typeInput);
                div.appendChild(document.createElement("br"));
                container.appendChild(div);

            } else if (selection == "Video") {
                var i = container.childElementCount + 1;
                div = document.createElement('form')
                div.appendChild(document.createTextNode(i + ".Video field: "));
                div.appendChild(document.createElement("br"));
                var nameInput = document.createElement("input");
                var typeInput = document.createElement("input");

                nameInput.type = "text";
                nameInput.name = "name";
                nameInput.required=true;
                typeInput.type = "hidden";
                typeInput.name = "type"
                typeInput.value = "video";

                div.appendChild(nameInput);
                div.appendChild(typeInput);
                div.appendChild(document.createElement("br"));
                container.appendChild(div);
            }
        };

        function formValidation(e) {
            var isAllFieldsFilled=true;
            var inputs=document.getElementById("postTemplateForm").getElementsByTagName('input');
            for(let i=0;i<inputs.length;i++){
                if(inputs[i].hasAttribute("required")){
                    if(inputs[i].value==""){
                        alert("Some fields are empty!");
                        isAllFieldsFilled=false;
                        break;
                    }
                }
            }
            if (isAllFieldsFilled) {
                createJsonList();
                createPostTemplate();
            }
        }
        function createPostTemplate(){
            
            var url='/mainapp/createPostTemplate/';
            /*   
            fetch(url,{
                method: "POST",
                headers: { 'X-CSRFToken': CSRF_TOKEN,
                            'Content-Type':"application/x-www-form-urlencoded",
                            },
                body:{
                    template_name : document.getElementById("template_name").value,
                    description : document.getElementById("description").value,
                    data_field_temps : document.getElementById("data_field_temps").value,

                },
                data:{
                    "csrfmiddlewaretoken":CSRF_TOKEN,
                    }
                }
            ).then(function (result) {
                return result.json();
            }).then(function (json) {
                displayResults(json);
            });
            */
            document.getElementById("postTemplateForm").submit();
        }
        function createJsonList() {
            var formData = document.getElementById("addedFields").childNodes;
            var dict = []; 
            for (let index = 1; index <= formData.length; ++index) {
                let value = formData[index-1];
                console.log(value.tagName)
                if (value.tagName == "FORM") {
                    let data = {};
                    let formdata = new FormData(value);
                    for (let pair of formdata.entries()){ 
                        data[pair[0]] = pair[1];
                    }
                    dict.push(data);
                }

            }

            var input = document.getElementById("data_field_temps");
            console.log(dict);
            input.value = JSON.stringify(dict);
            console.log(input.value)
        }
         function displayResults(json) {
            console.log(json);
            while (section.firstChild) {
                section.removeChild(section.firstChild);
            }
            const para = document.createElement('pre');
            para.textContent = JSON.stringify(json, undefined, '\t')
            section.appendChild(para);
        }
    </script>

</body>

</html>