<!DOCTYPE html>
<html>

<head>
    <title>You are leaving!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Good By, {{personfirst}} {{personlast}}.</h1>
            <p>
                You are not a member of this community anymore.
            </p>
        </div>

        <br>
        <div class="container">
            <div class="col-sm">
                
                    <button id="getYourLeavingGift" class="btn btn-primary">  Press to get your leaving present.</button>
                
            </div>
        </div>
        <br>


        <div class="container">
            <div class="col-sm">
                <button id="goToMainPage" class="btn btn-primary">Press to go to Main Page.</button>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="results">
              <section id="results_section">
              </section>
            </div>
          </div>

    </div>

    <script>

        const section = document.getElementById("results_section");
        let element;
        element = document.getElementById("goToMainPage")
        if (element != null)
            element.addEventListener("click", goToMainPage);
        
        element = document.getElementById("getYourLeavingGift")
        if (element != null)
            element.addEventListener("click", getYourLeavingGift);
        
        function goToMainPage(e) {
            e.preventDefault();
            const baseURL = '/mainapp/mainPage'
            let url = baseURL;
            console.log(url);
            window.location.href = url;
        }
        
        function getYourLeavingGift(e) {
            console.log("gif was here")
            e.preventDefault();
            const baseURL = '/mainapp/getGifs'
            let url = baseURL;
            fetch(url).then(function (result) {
                return result.json();
            }).then(function (json) {
                displayImages(json);
            });
        }

        function displayImages(json) {
            while (section.firstChild) {
                section.removeChild(section.firstChild);
            }
            const images = json.images
            if (images.length === 0) {
                const para = document.createElement('p');
                para.textContent = 'No results returned.'
                section.appendChild(para);
            } else {
                const img = document.createElement('img');
                let current = images;
                console.log(current)
                img.src = current;
                img.className = "img-rounded"
                section.appendChild(img);
            }
        }

    </script>

</body>

</html>
        
