<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the communities page!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav style="margin-bottom: 0px; background-color:lavender; !important" class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="../mainPage">🏠</a>
</nav>
<div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Create a post.</h1>
        </div>
        <div class="container">
        <form id="PostForm" method="POST" action="{% url 'mainapp:createPost' %}">
            {% csrf_token %}
        <label>Title of your post:</label>
        <input name="title" placeholder="your title goes here" required></input>
        <br>
    <label>Description of your post</label>
    <input name="description" placeholder="your description goes here" required></input>
    <fieldset id="dataFields">
        {% for temp in data_field_temps %}
            <br>
            <label>{{temp.name}}:</label>        
            {% if temp.type == "text" %}
            <input id="{{temp.id}}_textcontent" name="{{temp.id}}_textcontent" placeholder="enter text" required></input>
            {% elif temp.type == "image" %} 
            <input id="{{temp.id}}_urlcontent" name="{{temp.id}}_urlcontent" placeholder="enter image url" required></input>
            {% elif temp.type == "video" %}
            <input id="{{temp.id}}_urlcontent" name="{{temp.id}}_urlcontent" placeholder="enter youtube video id" required></input>
            {% endif %}
        {% endfor %}
    </fieldset>
    <br>
    <input type="hidden" name="post_template_id" value="{{template_id}}">

    </form>
    <button id="formSubmit" type="submit" name="post"  value="create">Create Post</button>
</div>
    <div class="container">
            <div id="results_section">
            </div>
    </div>
</div>
<script>
var CSRF_TOKEN='{{csrf_token}}';
const section=document.getElementById("results_section");
var form=document.getElementById("PostForm");
document.getElementById("formSubmit").addEventListener("click", onSubmitClicked);
var template_id={{template_id}};
var postTemplateData={};
window.onload = function() {
      getPostTemplateData();
};

function getPostTemplateData(){
    url="/mainapp/getPostTemplate?template_id="+template_id;
        fetch(url).then(function (result) {
          return result.json();
        }).then(function (json) {
            postTemplateData=json;
          
    });
}
function onSubmitClicked(e){
    checkValidity();
}
function createPost(){
            url='/mainapp/createPost/'
            /*
                
            fetch(url,{
                method: "POST",
                headers: {"Content-Type":'application/json',
                            'X-CSRFToken': CSRF_TOKEN},
                body: JSON.stringify(new FormData(form)),
                data:{
                    "csrfmiddlewaretoken":CSRF_TOKEN,
                    }
                }
            ).then(function (result) {
                return result.json();
            }).then(function (json) {
                displayResults(json);
            });
            */
            document.getElementById("PostForm").submit();
}
async function checkValidity(){
    var isValid=true;
    /*For the input validation part, I took help from the source below.
    https://stackoverflow.com/questions/18640051/check-if-html-form-values-are-empty-using-javascript
    While I tried to implement it differently, I found out that this is a standard solution.
    */
            var inputs=document.getElementById("PostForm").getElementsByTagName('input');
            for(let i=0;i<inputs.length;i++){
                if(inputs[i].hasAttribute("required")){
                    if(inputs[i].value==""){
                        alert("Some fields are empty!");
                        isValid=false;
                        break;
                    }
                }
            }
    if(!isValid){
        alert("Some fields are empty!");
        return;
    }
    
    var reason="";
    console.log("Im herehere");
    for(let i=1;;i++){
        console.log(postTemplateData)  
        var currentFieldTemp=postTemplateData["data_field_temps"][i];
        console.log(currentFieldTemp);  
        if(currentFieldTemp==undefined){
            console.log("undefined");
            break;
          }
            
          if (currentFieldTemp["type"]=="video"){
            console.log("Im here0");
            var urlinput=document.getElementById(currentFieldTemp["id"]+"_urlcontent");
            if(urlinput==null){
                isValid=false;
                reason="Some fields are empty!";
                break;
            }
            else{
                console.log("Im here1");
                const baseURL = '/mainapp/checkVideo?';
                let url;
                url = baseURL + 'url=' + urlinput.value;
                await fetch(url).then(function (result) {
                    
                return result.json();
                }).then(function (json) {
                    isValid=json["isValid"];
                    reason=json["Reason"];
                });
                if(!isValid)
                    break;
            }

            }
    }if(isValid){
        createPost();
    }else{
        console.log("Im here2");
        alert("Creation failed: "+reason);
    }
};
function displayResults(json) {
            console.log(json);
            while (section.firstChild) {
                section.removeChild(section.firstChild);
            }
            const para = document.createElement('pre');
            para.textContent = JSON.stringify(json, undefined, '\t')
            section.appendChild(para);
}
</script>


</body>
</html>